@media only screen and (min-width: 320px) {
  .body-wrapper {
    width: 320px;
  }
}

.body-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  right: 0;
  transition: all 400ms ease-in;
  -webkit-overflow-scrolling: touch;
}
