// contacts

.contacts__inner {  
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact {  
  text-align: center;
  display: block;
  margin-bottom: 3vh;
  &__name {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    margin-bottom: 1vh;
    letter-spacing: 1px;
    color: #c5bdb7;
  }
  &__email a {
    color: #fff !important;
    letter-spacing: 1px;
  }
}
