.is-opened {
  display: block;
  position: fixed;
  right: 0;
  width: calc(100% - 105px);
  transform: translateX(0);
  transition: right 600ms;
  @include mobile {
    width: calc(100% - 37px);
  }
}

.is-opened__main {
  position: fixed;
  right: calc(100% - 105px);
  transition: right 600ms;
  transform: translateX(0);
  @include mobile {
    right: calc(100% - 37px);
  }
}
