.is-opened {
  right: calc(0% - 105px);
  width: calc(100% - 105px);
  transition: all 400ms ease-out;
  @include tablet {
    width: calc(100% - 36px);
    right: calc(0% - 36px);
    padding-left: 36px;
    -webkit-overflow-scrolling: touch;
  }
}

.is-opened__body {
  right: calc(100% - 210px);
  transition: all 400ms ease-out;
//  width: calc(100% - 105px);
//  transform: translateX(105px);
  @include tablet {
    right: calc(100% - 72px);
    -webkit-overflow-scrolling: touch;
  }
}
