.is-opened {
  display: block;
  position: fixed;
  right: 0;
  width: calc(100% - 105px);
  transform: translateX(0);
  transition: right 600ms;
  @include tablet {
    background-color: aqua;
    width: calc(100% - 36px);
    padding-left: 36px;
    -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
  }
}

.is-opened__main {
  position: fixed;
  right: calc(100% - 105px);
  transition: right 600ms;
  transform: translateX(0);
  @include tablet {
    right: calc(100% - 37px);
  }
}
