//main-nav.scss

.main-nav {
  padding-top: 15px;
  z-index: 1000;
}

.main-nav__list {
  text-align: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  li {
    display: inline-block;
  }
}

.main-nav__item {
}

.main-nav__link {
  @include font(18px, 1.2em, 400);
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0px 15px;
  span {
    font-family: 'Quattrocento Sans', sans-serif;
  }
  &:hover,
  &.active {
    color: $white;
//    border-bottom: $lightPink-border;
  }
}

.nav-fix {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; 
}
