// posters.scss

.posters {
  display: flex;
  height: 100vh;
}

.posters__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.posters__image-wrapper {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 400px;
  max-height: 90vh;
  img {    
    height: auto;
    width: 100%;
  }
}
